<section>
  <div class="create__post__btn">
    <a href="/create-post">+ Add New</a>
  </div>
  <ul class="post__links">
    <% data.forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>" class="post__link">
          <span class="post__heading"><%= post.title %></span>
          <span class="post__date"><%= post.updatedAt.toDateString()%></span>
          <form action="/delete-post/<%= post._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="delete__post__btn">
          </form>
          <form action="/edit-post/<%= data._id %>?_method=PUT" method="POST">
            <label for="title"><b>Title</b></label>
            <input type="text" placeholder="Post Title" name="title" value="<%= data.title %>">
        
            <label for="body"><b>Content</b></label>
            <textarea name="body" cols="50" rows="10"><%= data.body %></textarea>
        
            <input type="submit" value="Update" class="btn">
        </form>
        </a>
      </li>
    <% }) %>
  </ul>
</section>